.forma {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 55px;
  font-size: 24px;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .forma {
    width: 90%;
    padding: 0 10px;
  }
}

.ime-prezime-container {
  display: flex;
  align-items: center;
}

.ime-prezime {
  margin: 0.5rem 0;
  border-radius: 10px;
  height: 60px;
  font-size: 24px;
  color: #548372;
  padding-left: 5px;
  width: 100%;
}

.trash {
  cursor: pointer;
}

.trash:hover > svg {
  transition: all 0.1s ease-in;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.trash > svg {
  fill: #548372;
}

.ime-prezime:not(:focus).ime-prezime[value=""] {
  background: lightgrey;
}

.dugme {
  background: #8aa27a;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

.ikonica {
  display: flex;
  align-items: center;
  background: #a7bb9a;
  justify-content: center;
  color: #ffdca9;
  width: 36px;
  height: 36px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
}

.napomena {
  margin-top: 0.5rem;
  font-size: 24px;
}

.submit {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 60px;
  border-radius: 10px;
  margin-top: 5px;
}

.submit:not([disabled]) {
  color: white;
  background: #a7bb9a;
  box-shadow: -2px -2px 5px 0px #5a5a5a inset;
}

.dugme:hover,
.submit:hover:not([disabled]) {
  filter: brightness(85%);
}
