.App {
  text-align: center;
  white-space: pre-line;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.placeholder {
  width: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forma-container {
  opacity: 0;
}
